$bg-color: #f8b334;
$top-color: black;

.casino-pg {
  background-color: $bg-color;
  border-bottom: 15px solid $top-color;
  &--dot {
    background-color: green;
  }

  &__offer {

    &--box {
      border: 3px solid lighten($top-color, 20%);

      b {
        color: $top-color;
      }
    }

    &--playNow {
      background: $top-color;
      color: $bg-color;
    }

    &--playNow:hover {
      color: $bg-color;
    }
  }

  &__icons {
    color: $top-color;

    p {
      color: $top-color;
    }

    svg {
      fill: currentColor;
    }
  }

  h2 {
    color: lighten($top-color, 40%);
  }

  .bx-wrapper .bx-pager.bx-default-pager a {
    background: $bg-color;
    border: 3px solid $top-color;
  }

  .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: $top-color;
  }

}






.casino-bonus {
  background: lighten($bg-color, 40%);

  &__top {
    background-color: $bg-color;
    position: relative;

    &--code {
      color: lighten($top-color, 25%);

    }
  }

  &__bottom {

    h2 {
      color: $top-color
    }

    p {
      color: lighten($top-color, 30%);
    }
  }

}





