.casino-item .row div {
  padding-top: 15px;
}

.casino-item .row div.casino-image {
  padding-top: 0;
}

.casino-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $font-color;
  font-size: 0.9rem;
}

.casino-list h1 {
  font-size: 1rem;
}

.casino-list a {
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 50%;
}

.casino-list a.play-now {
  color: white;
  right: 0;
}

.casino-list a.more-details{
  background-color: white;
  right: 50%;
}

.casino-icons img {
  max-height: 30px;
}

.casino-image img {
  max-width: 100px;
}

.no-gutters .casino-icons {
  padding: 15px 15px;
}

.no-gutters .casino-text {
  padding-left: 25px;
  padding-right: 20px;
}

.casino-icons {
  border-left: 1px solid $font-color;
}

.casino-rating {
position: relative}

.green-rating {
  color: green;
}
.top-rated-1 .casino-list .casino-icons, .top-rated-1 .casino-list .more-details, .top-rated-1 .casino-list .rating-text {
  display: none;
}



.top-rated-3 .casino-list li {
  background-color: lighten($top-rated-3, 45%);
  border-bottom: 1px solid $top-rated-3;
}

.top-rated-3 h1, .top-rated-3 h2 {
  color: $top-rated-3;
}

.top-rated-3 a.more-details {
  color: $top-rated-3;
}

.top-rated-3 .play-now {
  background-color: $top-rated-3;
}

.top-rated-1 .casino-list li {
  background-color: lighten($top-rated-1, 45%);
  border-bottom: 1px solid $top-rated-1;
}

.top-rated-1 h1, .top-rated-3 h2 {
  color: $top-rated-1;
}

.top-rated-1 a.more-details {
  color: $top-rated-1;
}

.top-rated-1 .play-now {
  background-color: $top-rated-1;
}



@media screen and (min-width: 768px) {
  .casino-image {
    border-left: 8px solid #9BE4BE;
  }
  .casino-rating {
    text-align: center;
  }

}

$help: false;
$iconWidth: 40px;

//$cardColor: #F78F00
//$cardColor: #0080f7
//$cardColor: #f00028

$cardColorRed: #f00028;
$cardBGColorRed: lighten($cardColorRed, 50%);
$cardbottomBorderRed: lighten($cardColorRed, 45%);

$cardColorBlue: #0080f7;
$cardBGColorBlue: lighten($cardColorBlue, 50%);
$cardbottomBorderBlue: lighten($cardColorBlue, 45%);

$cardColorOrange: #F78F00;
$cardBGColorOrange: lighten($cardColorOrange, 50%);
$cardbottomBorderOrange: lighten($cardColorOrange, 45%);

$rate-color1: #00A651;
$rate-color2: #DFB300;
$rate-color3: #FF2626;

@mixin rating($rate-color) {
  border-left: 10px solid rgba($rate-color, 0.5);

  .casino-c__rating_value {
    color: $rate-color;
  }
}

.rate-color1 {
  @include rating($rate-color1);
}

.rate-color2 {
  @include rating($rate-color2);
}

.rate-color3 {
  @include rating($rate-color3);
}

@mixin colorCard($cardColor, $cardBGColor, $cardbottomBorder) {
  background: $cardBGColor;
  border-bottom: 1px solid $cardbottomBorder;

  .casino-c {
    &__playNow {
      background: $cardColor;
      color: white;
    }

    &__casino-title {
      color: $cardColor;
    }

    &__icons {
      li {
        border: 2px solid rgba($cardColor, 0.2);
        color: $cardColor;
      }
    }

    &__svgIcon {
      fill: $cardColor;
    }
  }
}

.casino-c__red {
  @include colorCard($cardColorRed, $cardBGColorRed, $cardbottomBorderRed);
}

.casino-c__blue {
  @include colorCard($cardColorBlue, $cardBGColorBlue, $cardbottomBorderBlue);
}

.casino-c__orange {
  @include colorCard($cardColorOrange, $cardBGColorOrange, $cardbottomBorderOrange);
}

.casino-c {
  &__logo {
    padding: 5px;
  }

  &__casinoInfo {
    padding: 5px;

    p {
      margin-bottom: 0;
    }
  }

  &__icons {
    max-width: $iconWidth * 3 + 3 * 10px;
    min-width: $iconWidth * 3 + 3 * 10px;

    li {
      width: $iconWidth;
      height: $iconWidth;
      line-height: $iconWidth;
      border-radius: 40px;
      text-align: center;
      margin: 3px 0;
    }
  }

  &__ctaAndRatingContainer {
    min-width: 200px;
  }

  &__rating {
    @if $help {
      background: rgba(black, 0.1);
    }
  }

  &__cta {
    @if $help {
      background: rgba(black, 0.3);
    }
  }

  &__rating_value {
    font-weight: 800;
  }

  &__rating__title {
    display: none;
    margin: 0 15px;
  }
}

.casino-c__cta {
  .btn-group {
    .btn {
      width: 100px;
      border-radius: 0;
      padding: 5px 0;
    }
  }
}

@media (max-width: 576px) {
  .casino-c {
    &__second, &__first, &__icons, &__ctaAndRatingContainer {
      width: 100%;
    }

    &__icons, &__ctaAndRatingContainer {
      max-width: 100%;
      min-width: 100%;
    }

    &__icons {
      ul {
        width: 100%;
        padding-bottom: 1rem;

        li {
          margin-left: 0.5rem;
        }
      }
    }

    &__rating__title {
      display: inline-block;
    }
  }
}