.faq {
  h2 {
    text-align: left;
    color: $theme-color-1;
  }

  .c1, .c2 {
    padding-left: 25px;
    padding-right: 25px;
  }


  .c2 {
    h1 {
      color: $theme-color-1;
    }

    h2 {
      color: $grey;
      font-family: $header-font-special, $body-font;
      margin-top: 3rem;
    }

    h2:first-of-type {
      margin-top: 1rem;
    }
  }

  .related-category {
    padding-left: 0;
    border-bottom: none;

    h5 {
      font-size: 1rem;
    }
  }
}

.about-header {
  // Fallback (could use .jpg/.png alternatively)
  background-color: rgb(15, 36, 89);
  //background gradient
  background: url('../images/logo.png') center no-repeat, linear-gradient( rgb(117, 0, 60) 0%, rgb(55, 21, 74) 50%, rgb(15, 36, 89) 100%);
  background-size: cover, auto;
  display: flex;
  padding: 2rem 3rem;

  h1 {
    margin: 0;
    font-size: 2rem;
  }
}