$grey: #B7B7B7;


.title-underline {
  border-top: 8px solid $theme-color-1;
  font-size: 1.8rem;
  margin-top: 0;
}

.subscribe-box {
  background: $theme-color-1;
  border-top: 8px solid lighten($theme-color-2,20%);
  position: relative;

  h2 {
    color: #ffffff;
  }

  &__email {
    margin: 7px auto;
    padding: 5px;

  }

  label {
    margin: 7px auto;
    input {
      margin-right: 5px;
    }
  }

  .terms-conditions {
    font-size: 0.8rem;

    a {
      color: #ffffff;
    }
  }

  .btn-send {
    color: #ffffff;
    background: lighten($theme-color-2,20%);
    border-radius: 20px;
    margin-bottom: -42px;
    padding: 8px 30px;
  }
}

.color {
  .thumb-grosvenor-casino {
    background: #03262c;
  }
  .thumb-888-casino {
    background: #1a1a1a;
  }
  .thumb-gala-casino {
    background: #1a1a1a;
  }
  .thumb-ladbrokes-casino {
    background: #e41c1c;
  }
  .thumb-monopoly-casino {
    background: #102252;
  }
  .thumb-sky-casino {
    background: #0d0d0d;
  }
  .thumb-pink-casino {
    background: #e5e5e5;
  }
  .thumb-bgo-casino {
    background: #0f0f0f;
  }
  .thumb-foxy-casino {
    background: #e5e5e5;
  }
  .thumb-coral-casino {
    background: #004696;
  }
  .thumb-william-hill-casino {
    background: #236d9b;
  }
  .thumb-paddy-power-power-casino {
    background: #005440;
  }
  .thumb-777-casino {
    background: #f7a943;
  }
  .thumb-betfair-casino {
    background: #f8b334;
  }
  .thumb-virgin-casino {
    background: #cb0000;
  }
  .thumb-betfred {
    background: #001b38;
  }
  .thumb-leo-vegas-casino {
    background: #ea7446;
  }
  .thumb-bet365-casino {
    background: #057b5b;
  }
  .thumb-32-red-casino {
    background: #fe1419;
  }
  .thumb-21-casino {
    background: #232324;
  }
  .thumb-maria-casino {
    background: #363647;
  }
  .thumb-hello-casino {
    background: #393939;
  }
  .thumb-wink-slots {
    background: #1e1e45;
  }
  .thumb-casumo {
    background: #37bfb9;
  }
  .thumb-mr-smith-casino {
    background: #a5a59d;
  }
  .thumb-stan-james-casino {
    background: #78b41e;
  }
  .thumb-casinoeuro {
    background: #1f294a;
  }
  .thumb-spinit-casino {
    background: #ba271f;
  }
  .thumb-mfortune-casino {
    background: #313131;
  }
  .thumb-energy-casino {
    background: #222222;
  }
  .thumb-spin-genie-casino {
    background: #f2f2f2;
  }
  .thumb-betway-casino {
    background: #231f20;
  }
  .thumb-viking-slots {
    background: #2d3548;
  }
  .thumb-comeon-casino {
    background: #151917;
  }
  .thumb-slots-magic {
    background: #1c021b;
  }
  .thumb-casino-land {
    background: #041a25;
  }
  .thumb-mansion-casino {
    background: #0d0d0d;
  }
  .thumb-party-casino {
    background: #211551;
  }
}

.footer-sites {
  padding-top: 4rem;
  margin-top: 4rem;
  padding-bottom: 4rem;
  background: $theme-color-2;
  color: $grey;

  h2 {
    font-size: 1.4rem;
    color: $theme-color-1;
    text-align: left;
    font-family: $body-font;

  }

  a, a:hover {
    text-decoration: none;
    font-size: 1rem;
    color: $grey;
  }

  img {
    max-height: 60px;
    max-width:  60px;
    border-radius: 100%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
  }

  img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  li {
    background: none;
    padding-left: 0;
  }
}



.about-us-foot {
  color: $theme-color-2;
  background: lighten($theme-color-2, 75%);

  a, a:hover {
    color: lighten($theme-color-2,20%);
    text-decoration: none;
    margin: 20px;
    font-size: 1rem;
    text-align: center;
  }
}


.legal-logos {
  color: $theme-color-2;

  a {
    margin: 12px;
    font-size: 0.9rem;
    text-decoration: none;
  }
}

.footer-underline {
  border-top: 6px solid $theme-color-2;
}

.footer-logo {
  height: 80px;
}


@include media-breakpoint-up(md) {
  .subscribe-box {
    &__email, label {
      width: 90%;
    }

  }
}

@include media-breakpoint-up(lg) {
  .footer-container {
    width: 80%;
    margin: auto;
  }
}


