$grey: #B7B7B7;
$footer-color: #5F308C;


footer {
  font-family: $body-font;
  h2, input, button {
    font-family: $body-font;
  }
}


.title-underline {
  border-top: 8px solid $theme-color-1;
  font-size: 1.8rem;
  margin-top: 0;
}

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-2px 10px 0 0;
  vertical-align:middle;
  background: transparent;
  border: 2px solid $footer-color;
  cursor:pointer;
}

input[type="checkbox"]:checked + label span {
  background: $footer-color;
}


.subscribe-box {
  margin-top: 4rem;
  background: lighten($footer-color, 50%);
  //border-top: 8px solid $footer-color;
  position: relative;

  h2 {
    color: $footer-color;
    margin-top: .5rem;
    font-size: 2rem;
    font-weight: bold;
  }

  &__email {
    margin: 7px auto;
    padding: 5px;
    width: 280px;
  }

  input:focus {
    outline: 1px solid $footer-color;
  }

  label {
    margin: 7px auto;
    input {
      margin-right: 5px;
    }
  }

  .terms-conditions {
    font-size: 0.8rem;

    a {
      color: $footer-color;
      text-decoration: underline;
    }
  }

  .btn-send {
    color: #ffffff;
    background: $theme-color-1;
    border-radius: 20px;
    margin-bottom: -42px;
    padding: 8px 30px;
  }
}

.color {
  .thumb-grosvenor-casino {
    background: #03262c;
  }
  .thumb-888-casino {
    background: #1a1a1a;
  }
  .thumb-gala-casino {
    background: #1a1a1a;
  }
  .thumb-ladbrokes-casino {
    background: #e41c1c;
  }
  .thumb-monopoly-casino {
    background: #102252;
  }
  .thumb-sky-casino {
    background: #0d0d0d;
  }
  .thumb-pink-casino {
    background: #e5e5e5;
  }
  .thumb-bgo-casino {
    background: #0f0f0f;
  }
  .thumb-foxy-casino {
    background: #e5e5e5;
  }
  .thumb-coral-casino {
    background: #004696;
  }
  .thumb-william-hill-casino {
    background: #236d9b;
  }
  .thumb-paddy-power-power-casino {
    background: #005440;
  }
  .thumb-777-casino {
    background: #f7a943;
  }
  .thumb-betfair-casino {
    background: #f8b334;
  }
  .thumb-virgin-casino {
    background: #cb0000;
  }
  .thumb-betfred {
    background: #001b38;
  }
  .thumb-leo-vegas-casino {
    background: #ea7446;
  }
  .thumb-bet365-casino {
    background: #057b5b;
  }
  .thumb-32-red-casino {
    background: #fe1419;
  }
  .thumb-21-casino {
    background: #232324;
  }
  .thumb-maria-casino {
    background: #363647;
  }
  .thumb-hello-casino {
    background: #393939;
  }
  .thumb-wink-slots {
    background: #1e1e45;
  }
  .thumb-casumo {
    background: #37bfb9;
  }
  .thumb-mr-smith-casino {
    background: #a5a59d;
  }
  .thumb-stan-james-casino {
    background: #78b41e;
  }
  .thumb-casinoeuro {
    background: #1f294a;
  }
  .thumb-spinit-casino {
    background: #ba271f;
  }
  .thumb-mfortune-casino {
    background: #313131;
  }
  .thumb-energy-casino {
    background: #222222;
  }
  .thumb-spin-genie-casino {
    background: #f2f2f2;
  }
  .thumb-betway-casino {
    background: #231f20;
  }
  .thumb-viking-slots {
    background: #2d3548;
  }
  .thumb-comeon-casino {
    background: #151917;
  }
  .thumb-slots-magic {
    background: #1c021b;
  }
  .thumb-casino-land {
    background: #041a25;
  }
  .thumb-mansion-casino {
    background: #0d0d0d;
  }
  .thumb-party-casino {
    background: #211551;
  }
}

.footer-sites {
  padding-top: 6rem;
  margin-top: -4rem;
  padding-bottom: 4rem;
  background: $footer-color;
  color: $grey;

  h2 {
    font-size: 1.4rem;
    color: #ffffff;
    text-align: left;
    font-family: $body-font;

  }

  a, a:hover, a span:hover {
    text-decoration: none;
    font-size: 1rem;
    color: $theme-color-1;
  }

  img {
    max-height: 60px;
    max-width:  60px;
    border-radius: 100%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
  }

  img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  li {
    background: none;
    padding-left: 0;
  }
}



.about-us-foot {
  color: $footer-color;
  background: lighten($footer-color, 50%);

  a, a:hover {
    color: lighten($footer-color,20%);
    text-decoration: none;
    margin: 20px;
    font-size: 1rem;
    text-align: center;
  }
}


.legal-logos {
  color: $footer-color;

  a {
    margin: 12px;
    font-size: 0.9rem;
    text-decoration: none;
    color: lighten($footer-color,20%);
  }
}

.footer-underline {
  border-top: 6px solid $footer-color;
}

.footer-logo {
  height: 80px;
}


@include media-breakpoint-up(lg) {
  .footer-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .subscribe-box {
    &__email, label {
      width: 90%;
    }

  }
}


