html {
  background:         $bg_colour;
}

body {
  background-color: white;
}

.wrapper {
  max-width: 1500px;
  margin: auto;
  clear: both;
}


button {
  font-family: $header-font;
}
//h1 {
//  font-size: 1.3rem;
//  margin-top: 1.5rem;
//  color: white;
//}

h2 {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  color: $grey;
  font-family: $header-font-special;
}

h3 {
  font-family: $header-font-special;
  font-size: 1.2rem;
  color: $grey;
}

a h2 {
  height: auto;
}

p,td {
  font-size: 0.9rem;
}


h4, p, a, td {
  font-family: $body-font;
}
