.first-image, .third-image {
  position: relative;
}

.second-image {

  &__content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.bx-wrapper {
  position: static!important; /* center to page correctly */
  border: 0!important; /* border */
  -webkit-box-shadow: none!important; /* these two shadows */
  box-shadow: none!important;
  background: transparent;
  margin-bottom: 0;
}

.header-slider p {
  font-size: 0.8rem;
  color: #B7B7B7;
}

.header-slider h2 {
  font-size: 1.5rem;
  margin-top: 0;
  text-align: left;
  color: #ffffff;
  font-family: $header-font;
}

.header-slider a, .header-slider a:hover {
  color: inherit;
}

.shadow {

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(transparent,rgb(15, 36, 89));
  }
}


.slider-wrapper-bg {
  // Fallback (could use .jpg/.png alternatively)
  background-color: rgb(15, 36, 89);
  // SVG fallback for IE 9 (could be data URI, or could use filter)
  //background-image: url(fallback-gradient.svg);
  //background gradient
  background: url('../images/logo.png') center no-repeat, linear-gradient(rgb(247, 143, 0) 0%, rgb(196, 57, 17) 25%, rgb(117, 0, 60) 50%, rgb(55, 21, 74) 75%, rgb(15, 36, 89) 100%);
  background-size: cover, auto;
  display: flex;
}

.slider-wrapper {
  max-width: 400px;
  display: block;
  margin: auto;
}
.arrow {
  display: none;
}

.st0arrow {
  fill: #FFFFFF;
}




@media (max-width: 767px) {

  .first-image, .second-image, .third-image {
    vertical-align: bottom;
    display: inline-block;
    float: none !important;
  }

  .second-image img {
    max-width: 50%;
    height: 100%;
  }

}


@media screen and (min-width: 768px){
  .slider-wrapper {
    max-width: 1200px;
  }

  .header-slider .arrow {
    display: block;
    position: absolute;
    background-color: orange;
    width: 60px;
    height: 60px;
    padding: 10px;
    bottom: 0;
    right: 0;
  }

  .header-slider .arrow svg {
    height: 40px;
  }

  .header-slider {
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }

  .header-slider .first-image h2 {
    font-size: 2.2rem;
  }

  .header-slider .second-image h2 {
    font-size: 1.5rem;
  }

  .header-slider .third-image h2 {
    font-size: 1.1rem;
  }

  .header-slider .first-image p, .header-slider .second-image p {
    width: 80%;
  }

  .header-slider p {
    font-size: 0.8rem;
  }

  .header-slider .first-image, .header-slider .second-image, .header-slider .third-image {
    display: inline-block;
    width: 50%;
    white-space: normal;
    margin-right: -5px;
  }

  .header-slider .second-image {
    position: relative;
    vertical-align: bottom;
  }

  .header-slider div img {
    max-width: 100%;
  }
  .header-slider .third-image {
    width: calc(100%/3);
  }

  .header-slider .arrow-top {
    top: 0;
    background-color: red;
  }

}

@media screen and (min-width: 992px){
  .header-slider .first-image, .header-slider .second-image, .header-slider .third-image {
    float: left;
    margin-right: 0;
  }
  .header-slider .second-image {
    width: 50%;
  }
  .header-slider .third-image {
    width: 25%;
    height: 50%;
  }

  .header-slider .first-image h2 {
    font-size: 2.5rem;
  }

  .header-slider .first-image p, .header-slider .second-image p {
    width: 85%;
  }

  .header-slider .second-image h2 {
    font-size: 1.8rem;
  }

  .header-slider p {
    font-size: 0.9rem;
  }

}

.slider-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

