$help: false;

// color for ratings
$rate-color1: #00A651;
$rate-color2: #DFB300;
$rate-color3: #FF2626;

$color-template-1: lighten(black, 95%);
$color-template-2: $theme-color-1;

// rating mixin
@mixin rating($rate-color) {
  .casino-pg {

    &__rating {

      &--dot {
        background-color: $rate-color; //TODO
      }
      &--value {
        color: $rate-color; //TODO
      }
    }

  }
}

// green rating
.rate-color-1 {
  @include rating($rate-color1);
}

// yelow rating
.rate-color-2 {
  @include rating($rate-color2);
}

// red rating
.rate-color-3 {
  @include rating($rate-color3);
}

.casino-pg {
  background-color: $color-template-1; //TODO
  border-bottom: 15px solid $color-template-2; //TODO

  &__title {
    @if $help {
      background-color: greenyellow;
    }
  }

  &__img {
    max-height: 200px;
  }

  &__rating {
    background-color: white;
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    max-height: 50px;
    max-width: 300px;
    margin: auto;

    &--dot {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      border-radius: 50px;
    }

    &--text {
      font-family: $body-font;
      color: grey;
    }
  }

  &__offer {
    @if $help {
      background-color: red;
    }

    &--box {
      width: 75%;
      border: 3px solid lighten(orange, 20%);
      //border: 3px solid #FFED00;
      //border: 3px solid #FFED0080;
      border-radius: 10px;
      padding: 20px 10px;

      b {
        font-family: $body-font;
        color: $color-template-2;
      }

      a {
        font-family: $header-font;
      }
    }

    &--playNow {
      width: 45%;
      background: $color-template-2; //TODO
      margin: 10px auto;
      text-align: center;
      padding: 10px;
      color: $color-template-1; //TODO
    }
  }


  &__gallery {
    @if $help {
      background-color: green;
    }
  }

  &__icons {
    @if $help {
      background-color: blue;
    }

    color: $color-template-2;

    svg {
      height: 50px;
      fill: currentColor;
    }

    &--box {
      text-align: center;
    }

    p {
      color: $color-template-2;
      font-size: 0.8rem;
    }

  }

  &__details {
    background-color: rgba(0,0,0,0.5);


    p {
      color: white;
    }

    h1 {
      font-size: 1.8rem;
    }
  }
  h2 {
    color: lighten(orange, 20%);
    //color: #FFED00;
    //color: #FFED0080;
  }

  &__playNow {
    padding: 10px;
    background-color: $theme-color-1;
    color: white;
    width: 100%;
    text-align: center;
    font-family: $header-font, $body-font;
    margin-top: 2rem;
    font-size: 1.2rem;
  }


  .bx-wrapper {
    margin: auto;
    margin-bottom: 30px;
  }

  .bx-wrapper .bx-pager {
    position: relative;
    padding-top: 0;
    bottom: auto;
  }

  .bx-wrapper .bx-pager.bx-default-pager a {
    background: $color-template-1; //TODO
    border: 3px solid $color-template-2; //TODO
  }

  .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: $color-template-2; //TODO
  }

  .bx-wrapper {
    img {
      margin: auto;
      max-width: 350px;
    }
  }

}





.casino-info {
  padding-top: 3rem;

  .card {
    border: none;
  }

  .card-header {
    background-color: transparent;
    text-align: left;
    border-bottom: 1px solid $theme-color-1; //TODO
  }

  h2 {
    text-align: left;
    font-family: $body-font;
    color: #96999B;
    margin-bottom: 1rem; ;
  }


  .casino-bonus {
    background: lighten($color-template-1, 40%);

    &__top {
      background-color: $color-template-1; //TODO
      position: relative;

      img {
        max-height: 150px;
        display: block;
        margin: auto;
      }

      &--code {
        width:75%;
        text-align: center;
        background-color: #FFFFFF;
        border-radius: 20px;
        position: absolute;
        bottom: -20px;
        left: 12.5%;
        font-size: 0.8rem;
        font-family: $body-font;
        font-weight: 600;
        color: $color-template-2 //TODO
      }
    }

    &__bottom {
      background: rgba(0,0,0,0.1);
      a{
        font-family: $header-font;
      }

      h2 {
        font-family: $body-font;
        text-align: left;
        color: black; //TODO
        font-size: 1.1rem;
      }

      p {
        color: lighten(black,40%);
      }
    }
  }

  &__pros {
    list-style-image: url('http://css-plus.com/examples/2011/12/custom-list-style/i/tick.png');
  }

  &__cons {
    list-style-image: url('http://css-plus.com/examples/2011/12/custom-list-style/i/tick.png');
  }

  &__thumbnail {
    img {
      height: auto;
      display: inline-flex;
      border: 1px solid #dddddd;
      border-radius: 15px;
      max-width: 100px;
    }
  }

}

@media (min-width: 576px) {

  .casino-pg__icons svg {
    height: 65px;
  }

  .casino-info {

    .casino-bonus {
      width: 47%;
      margin: auto;
    }

  }

}



@media (min-width: 768px) {
  .casino-pg {

    &__width {
      width: 50%;
    }

    &__details {
      border-top-right-radius: 80px;
      min-height: 50%;
    }

  }

  .casino-info {



    &__width {
      width: 50%;
    }


  }


}

@media (min-width: 992px) {

  .casino-info {

    .casino-bonus {
      width: 22%;
      margin: auto;
    }

    .casino-bonus {
      max-width: 250px;
    }

  }

}