.software {
  h1 {
    font-family: $header-font-special;
    color: $font-color;
    font-size: 2rem;
    margin-top: 0;
  }

  h2 {
    text-align: left;
    height: 3rem;
    font-family: $header-font-special;
    //font-weight: 700;
  }

  .casino-bonus h2 {
    height: auto;
  }

  .casino-info {
    padding-top: 0;
  }


}

.single_review_heading {
  font-family: $header-font !important;
}

.software-review {
  .casino-info {
    padding-top: 0;
  }

  h2 {
    text-align: left;
  }

  .game-details__headings h2 {
    font-family: $header-font-special;
  }
}


.special-headings {
  h2 {
    color: $grey;
    font-family: $header-font-special, $body-font;
  }
}

.img-center {
  margin: auto;
  display: block;
}


.page-link {
  border: none;
  color: $theme-color-1;
  margin-left: 0;
  padding: .5rem;
}

.page-link:hover, .page-link:focus {
  background: $theme-color-1;
  color: #ffffff;
  border-bottom: 2px solid $theme-color-1;
  outline: none;
}

.page-item.active .page-link {
  background: #ffffff;
  color: $grey;
  box-sizing: border-box;
  border-bottom: 2px solid $grey;
}

.page-item.disabled .page-link {
  color: $grey;
}


@include media-breakpoint-up(sm) {
  .page-link {
    padding: .5rem .75rem;
  }
}





