.software {

  h2 {
    text-align: left;
    height: 3rem;
    font-family: $header-font-special;
    font-weight: 700;
  }



  .casino-bonus h2 {
    height: auto;
  }

  .casino-info {
    padding-top: 0;
  }


}

.img-center {
  margin: auto;
  display: block;
}


.software-review {
  h2 {
    text-align: left;
  }

  .game-details__headings h2 {
    font-family: $body-font;
  }

}

.page-link {
  border: none;
  color: $theme-color-1;
  margin-left: 0;
}

.page-link:hover {
  background: $theme-color-1;
  color: #ffffff;
  border-bottom: 2px solid $theme-color-1;
}

.page-item.active .page-link {
  background: #ffffff;
  color: $grey;
  box-sizing: border-box;
  border-bottom: 2px solid $grey;
}

.page-item.disabled .page-link {
  color: $grey;
}





