@import "./partials/variables";

$help: false;

// color for ratings
$rate-color1: #00A651;
$rate-color2: #DFB300;
$rate-color3: #FF2626;

$color-template-1: orange;
$color-template-2: black;

// rating mixin
@mixin rating($rate-color) {
  .casino-pg {

    &__rating {

      &--dot {
        background-color: $rate-color; //TODO
      }
      &--value {
        color: $rate-color; //TODO
      }
    }

  }
}

// green rating
.rate-color-1 {
  @include rating($rate-color1);
}

// yelow rating
.rate-color-2 {
  @include rating($rate-color2);
}

// red rating
.rate-color-3 {
  @include rating($rate-color3);
}

.casino-pg {
  background-color: $color-template-1; //TODO
  border-bottom: 15px solid $color-template-2; //TODO

  &__title {
    @if $help {
      background-color: greenyellow;
    }
  }

  &__img {
    max-width: 200px;
    margin: auto;
  }

  &__rating {
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    max-height: 50px;
    max-width: 240px;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: space-around;




    &--dot {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      border-radius: 50px;
    }

    &--text {
      font-family: $body-font;
      color: grey;
    }
  }

  &__offer {
    text-align: center;
    margin-top: 3rem;
    @if $help {
      background-color: red;
    }

    &--box {
      width: 75%;
      border: 3px solid lighten($color-template-2, 40%);; //TODO
      border-radius: 10px;
      padding: 20px 10px;
      display: flex;
      margin: auto;
      flex-direction: column;


      h2 {
        font-family: $body-font;
        color: $color-template-2;
      }

      a {
        font-family: $header-font;
        text-decoration: none;
      }
    }

    &--playNow {
      width: 45%;
      background: $color-template-2; //TODO
      margin: 10px auto;
      text-align: center;
      padding: 10px;
      color: $color-template-1; //TODO
    }
  }

  &__gallery {
    text-align: center;
    margin-top: 3rem;
    @if $help {
      background-color: green;
    }
  }

  &__icons {
    display: flex;
    color: $color-template-2;
    margin: 2rem auto;
    justify-content: center;

    @if $help {
      background-color: blue;
    }

    svg {
      height: 50px;
      fill: currentColor;
    }

    &--box {
      text-align: center;
      padding: 0 2px;
    }

    p {
      color: $color-template-2;
      font-size: 0.8rem;
    }

  }

  &__details {
    background-color: rgba(0,0,0,0.5);
    padding: 25px 15px;

    p {
      color: white;
    }

    h1 {
      font-size: 1.8rem;
      color: white;
    }
  }
  h2 {
    color: lighten($color-template-2, 40%);
  }



  &__playNow {
    padding: 10px 0;
    background-color: $color-template-1;
    color: white;
    width: 100%;
    text-align: center;
    font-family: $header-font, $body-font;
    margin-top: 2rem;
    font-size: 1.2rem;
    display: block;

  }


}

.svg-hide{
  display: none;
}


amp-accordion .accordion-header {
  background-color: #FFFFFF;
  border: none;
  border-bottom: 1px solid $theme-color-1;
  padding: 10px 15px;
  text-align: center;
  color: $theme-color-1
}

amp-accordion .accordion-content {
  padding: 10px 15px;
}


.carousel-container {
  max-width: 400px;
  margin: auto;
}


.casino-info {
  padding: 2rem 15px;

  h2 {
    color: #96999B;
  }

  .card {
    border: none;
  }

  .card-header {
    background-color: transparent;
    text-align: center;
    border-bottom: 1px solid $theme-color-1; //TODO
  }

  .casino-bonus-block {
    display: flex;
    flex-wrap: wrap;
  }



  .casino-bonus {
    background: lighten($color-template-1, 40%);
    width: 90%;
    margin: 1rem auto;



    &__top {
      background-color: $color-template-1; //TODO
      position: relative;

      amp-img {
        display: block;
        margin: auto;
      }

      &--code {
        width:75%;
        text-align: center;
        background-color: #FFFFFF;
        border-radius: 20px;
        position: absolute;
        bottom: -20px;
        left: 12.5%;
        font-size: 1rem;
        font-weight: 600;
        color: lighten($color-template-2, 10%); //TODO
        padding: 12px 0;

        span {
          font-family: $body-font;
        }


      }
    }

    &__bottom {
      padding: 15px;
      a{
        font-family: $header-font;
        color: $color-template-1;
      }

      h2 {
        font-family: $body-font;
        text-align: left;
        color: $color-template-2; //TODO
        font-size: 1.2rem;
      }

      p {
        color: lighten($color-template-2, 25%);
      }
    }

  }

  &__pros {
    list-style-image: url('http://css-plus.com/examples/2011/12/custom-list-style/i/tick.png');
  }

  &__cons {
    list-style-image: url('http://css-plus.com/examples/2011/12/custom-list-style/i/tick.png');
  }

  &__thumbnail {
    width: 27%;
    display: inline-flex;
    border: 1px solid #dddddd;
    border-radius: 15px;
    margin: 2%;
  }

  &__thumb {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}


.ruled-title {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid lighten($theme-color-2, 50%);
  text-align: center;
  margin: 1.5rem 0;
}

.ruled-title span {
  color: $font-color;
  font-size: 1.5rem;
  background: white;
  padding: 0 10px;
}

.ruled-title.more-content {
  border-bottom: 1px solid $theme-color-1;
  height: 12px;
}

.ruled-title.more-content span {
  color: $theme-color-1;
  font-size: 1rem;
  font-family: $body-font;
  border: 1px solid $theme-color-1;
  border-radius: 20px;
  padding: 5px 15px;
}


h1, h2, span {
  font-family: $header-font, $body-font;
}

body {
  font-family: $body-font;
}

.wrapper {
  max-width: 740px;
  margin: auto;
}


@media (min-width: 450px) {
  .casino-info {
    &__thumbnail {
      width: 20%;
      margin: 2%;
    }

    .casino-bonus {
      width: 45%;
    }
  }

  .casino-pg {

    &__icons {
      &--box {
        padding: 0 4px;
      }
    }

  }
}