@import "./partials/variables";

$game-color: blue;

// card style mixin
@mixin colorCard($cardColor, $cardBGColor, $cardbottomBorder) {
  background: $cardBGColor;
  border-bottom: 1px solid $cardbottomBorder;

  .casino-c {
    background-color: $cardBGColor;
  }
  .casino-c {
    &__play-now {
      background: $cardColor;
      color: white;
    }

    &__casino-title {
      color: $cardColor;
    }

    &__icons {
      color: $cardColor;
      svg {
        fill: currentColor;
      }
    }
  }
  .casino-c__more {
    color: $cardColor;
    background-color: white;
  }
}


@mixin rating($rate-color) {
  border-left: 10px solid rgba($rate-color, 0.5);

  .casino-c__rating__value {
    color: $rate-color;
  }
}

// green rating
.rate-color1 {
  @include rating($rate-color1);
}


// yellow rating
.rate-color2 {
  @include rating($rate-color2);
}

// red rating
.rate-color3 {
  @include rating($rate-color3);
}

.casino-c__red--group, a.casino-c__red:hover {
  color: $cardColorRed;
}

.casino-c__blue--group, a.casino-c__blue:hover {
  color: $cardColorBlue;
}

.casino-c__orange--group, a.casino-c__orange:hover {
  color: $cardColorOrange;
}

// red card
.casino-c__red {
  @include colorCard($cardColorRed, $cardBGColorRed, $cardbottomBorderRed);
}

// blue card
.casino-c__blue {
  @include colorCard($cardColorBlue, $cardBGColorBlue, $cardbottomBorderBlue);
}

//orange card
.casino-c__orange {
  @include colorCard($cardColorOrange, $cardBGColorOrange, $cardbottomBorderOrange);
}

.casino-c {
  display: flex;
  flex-wrap: wrap;
  color: $font-color;
}

.casino-c {
  &__img {
    width: 25%;
    max-width: 150px;
    min-width: 88px;
  }

  &__details {
    width: 70%;

    p {
      padding-right: 10px;
    }

  }

  &__rating, &__buttons {
    width: 50%;
  }


  &__buttons {
    display: flex;
  }

  &__rating {
    text-align: center;
  }
  &__play-now, &__more {
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-family: 'Poller One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__rating__value {
    padding-left: 10px;
    font-weight: 800;
    font-size: 1rem;
  }
  &__icons {
    width: 100%;
    display: none;

    ul {
      width: 100%;
      list-style-type: none;
      padding-left: 0;
      text-align: center;
      margin-top: 0;
    }

    li {
      display: inline-block;
      width: 45px;

      svg {
        height: 100%;
      }
    }
  }


  &__icons--visible {
    .casino-c__icons{
      display: block;
    }
  }
}

.wrapper {
  max-width: 600px;
  margin: auto;
}

.svg-hide{
  display: none;
}


.game-info {
  border-bottom: 15px solid lighten($game-color, 10%);
  text-align: center;
  padding-bottom: 1.5rem;

  &__img {

    amp-img {
      max-width: 200px;
      margin: auto;
    }
  }

  &__title {
    h1 {
      color: $game-color;
    }
    a {
      color: $game-color;
    }
    h2 {
      margin-top: 0;
    }
  }

  &__play {
    a {
      background: $game-color; //TODO
      margin: 10px auto;
      padding: 10px 25px;
      color: #ffffff; //TODO
      font-family: $header-font, $body-font;
    }
  }

}

.game-summary {
  background-color: lighten($game-color, 40%);
  color: lighten($game-color, 20%);

  &__icons {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;

    &--box {
      width: calc(100%/3);
      text-align: center;
      display: flex;
      flex-direction: column;

      svg {
        height: 60px;
        fill: currentColor;
      }
    }


  }

  &__attributes {

    h2 {
      text-align: center;
      color: #ffffff;
    }

    &--list {
      ul {
        list-style-type: none;
        padding: 15px;

        li {
          width: 100%;
          border-bottom: 1px solid $game-color;
          font-family: $body-font;
          font-weight: 600;
          padding: 5px 0;

          span {
            float: right;
          }
        }
      }

    }




  }

}

.game-details {
  margin-top: 4rem;

  h2 {
    text-align: left;
    margin-top: 0;
  }

  &__headings h2 {
    color: #96999B;
    margin: 1.5rem 0;
  }


}



