//- pop up icon mixin
mixin pop(toggle, placement, trigger, title, content, name)
   li(data-container="body" data-toggle= toggle data-placement= placement data-trigger= trigger title= title data-content= content)
       .iconColor
           svg(viewBox="0 0 110 110" width="40" height="40")
               use(xlink:href= name x="0" y="0")
//- card mixin
mixin casino-c(rateColor, cardColor, logo, name, offer, icons)
   .casino-c.d-flex.align-items-stretch.justify-content-start.flex-column.flex-sm-row(class= rateColor + " " + cardColor + " " + icons)
       .casino-c__first.d-flex
           .casino-c__logo.align-self-center
               img(src= logo)
           .casino-c__casinoInfo.align-self-center
               h4.casino-c__casino-title= name
               p.casino-c__casino-offer= offer
       .casino-c__second.d-flex.ml-auto.flex-column.flex-sm-row
           .casino-c__icons.align-self-center
               ul.list-unstyled.mb-0.d-inline-flex.flex-wrap.justify-content-sm-around.justify-content-center
                   +pop("popover", "top", "hover", "Available", "on desktop, tablet & mobile", "#i_tablet")
                   +pop("popover", "top", "hover", "", "Live Dealer", "#i_mobile")
                   +pop("popover", "top", "hover", "", "Dwnloadable App", "#i_live")
                   +pop("popover", "top", "hover", "VIP", "Program available", "#i_vip")
                   +pop("popover", "top", "hover", "Payment", "Paypal Available", "#i_mobile-desk")
                   +pop("popover", "top", "hover", "", "mobile", "#i_paypal")
           .casino-c__ctaAndRatingContainer.ml-auto.d-flex.flex-row.justify-content-between.flex-sm-column
               .casino-c__rating.mt-auto
                   p.text-center
                       span.casino-c__rating__title Rating:
                       span.casino-c__rating_value 80/90
               .casino-c__cta.align-self-end
                   .btn-group(role='group', aria-label='example')
                       button.btn.btn-secondary.casino-c__more(type='button') More
                       button.btn.btn-secondary.casino-c__playNow(type='button') Play Now