.rate-color1 {
  border-left: 10px solid rgba(0, 166, 81, 0.5); }
  .rate-color1 .casino-c__rating_value {
    color: #00A651; }

.rate-color2 {
  border-left: 10px solid rgba(223, 179, 0, 0.5); }
  .rate-color2 .casino-c__rating_value {
    color: #DFB300; }

.rate-color3 {
  border-left: 10px solid rgba(255, 38, 38, 0.5); }
  .rate-color3 .casino-c__rating_value {
    color: #FF2626; }

.casino-c__red--group, a.casino-c__red:hover {
  color: #f00028; }

.casino-c__blue--group, a.casino-c__blue:hover {
  color: #0080f7; }

.casino-c__orange--group, a.casino-c__orange:hover {
  color: #F78F00; }

.casino-c__red {
  background: #fff0f3;
  border-bottom: 1px solid #ffd7dd; }
  .casino-c__red .casino-c__playNow {
    background: #f00028;
    color: white; }
  .casino-c__red .casino-c__casino-title {
    color: #f00028; }
  .casino-c__red .casino-c__icons svg {
    fill: #f00028; }
  .casino-c__red .casino-c__more {
    color: #f00028; }

.casino-c__blue {
  background: #f7fbff;
  border-bottom: 1px solid #deefff; }
  .casino-c__blue .casino-c__playNow {
    background: #0080f7;
    color: white; }
  .casino-c__blue .casino-c__casino-title {
    color: #0080f7; }
  .casino-c__blue .casino-c__icons svg {
    fill: #0080f7; }
  .casino-c__blue .casino-c__more {
    color: #0080f7; }

.casino-c__orange {
  background: #fffcf7;
  border-bottom: 1px solid #fff1de; }
  .casino-c__orange .casino-c__playNow {
    background: #F78F00;
    color: white; }
  .casino-c__orange .casino-c__casino-title {
    color: #F78F00; }
  .casino-c__orange .casino-c__icons svg {
    fill: #F78F00; }
  .casino-c__orange .casino-c__more {
    color: #F78F00; }

section > .top {
  margin-left: 20px; }

section .top:first-child {
  margin-left: 0; }

.iconOutline {
  fill: #FFFFFF; }

.casino-c__logo img {
  max-width: 100px; }

.casino-c__casinoInfo {
  padding: 5px; }
  .casino-c__casinoInfo p {
    margin-bottom: 0; }

.casino-c__more {
  display: none; }

.casino-c__icons {
  display: none;
  padding: 0 20px;
  max-width: 160px;
  min-width: 160px; }
  .casino-c__icons li svg {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 3px 0; }

.casino-c--icons_visible .casino-c__icons, .casino-c--icons_visible .casino-c__more {
  display: block; }

.casino-c__rating_value {
  font-weight: 800;
  font-size: 1.2rem; }

.casino-c__rating__title {
  display: none;
  margin: 0 15px; }

.casino-c__casino-title {
  font-size: 1em; }

.casino-c__ctaAndRatingContainer {
  min-width: 100px; }

.casino-c--icons_visible .casino-c__ctaAndRatingContainer {
  min-width: 200px; }

.casino-c .casino-c__cta .btn-group .btn {
  width: 100px; }

.casino-c__cta .btn-group .btn {
  width: 100px;
  border-radius: 0;
  padding: 5px 0;
  height: 50px;
  border: 0 solid transparent; }

@media (max-width: 576px) {
  .casino-c__second, .casino-c__first, .casino-c__icons, .casino-c__ctaAndRatingContainer {
    width: 100%; }
  .casino-c__icons, .casino-c__ctaAndRatingContainer {
    max-width: 100%;
    min-width: 100%; }
  .casino-c__icons ul {
    width: 100%;
    padding-bottom: 1rem; }
    .casino-c__icons ul li {
      margin-left: 0.5rem; }
  .casino-c__rating__title {
    display: inline-block; } }

@media (min-width: 768px) {
  .row .casino-c {
    height: 111px; } }
