extends includes/layout

block content

    .about-header
        h1 About US

    .wrapper

        .d-flex.g1-md__s1.flex-column.flex-md-row.faq
            .c2
                h1 Software

                h2 QueenVegas Casino Bonuses?
                p.
                    Let us scour the T's and C's, the FAQs and al the other acronym based information with a magnifying glass (it's called small print
                    for a reason). You can sign up to a casino armed with the facts, bonus time frames, withdrawal limits and, of course, those sometimes sneaky
                    wagering requirements.

                h2 Claiming No deposit bonus codes
                p.
                    Let us scour the T's and C's, the FAQs and al the other acronym based information with a magnifying glass (it's called small print
                    for a reason). You can sign up to a casino armed with the facts, bonus time frames, withdrawal limits and, of course, those sometimes sneaky
                    wagering requirements.
                h2 Wagering your no deposit bonus
                p.
                    Let us scour the T's and C's, the FAQs and al the other acronym based information with a magnifying glass (it's called small print
                    for a reason). You can sign up to a casino armed with the facts, bonus time frames, withdrawal limits and, of course, those sometimes sneaky
                    wagering requirements.


            .c1.flex-first.flex-md-unordered
                h2 About US
                .related-category
                    a(href="")
                        h5 Match Deposit Bonus
                .related-category
                    a(href="")
                        h5 High roller casino
                .related-category
                    a(href="")
                        h5 Free Spins
                .related-category
                    a(href="")
                        h5 No deposit bonus
                .related-category
                    a(href="")
                        h5 Free games
                .offer-group
                    h2 Best Offer
                    .offer
                        img(src='./assets/images/card-images/simbaGames.png', data-src="http://placekitten.com/g/300/300")
                        button.btn.btn-secondary.casino-c__more(type='button') Read Review
                        button.btn.btn-secondary.casino-c__playNow(type='button') Play Now
                    p.
                        New customer only, Min Dep £10, Max Bonus £500 + 50 Spins on Starburts,
                        Slot only, 4 x conversion, 30 x Wagering + T&C's apply
