extends includes/layout



block content

    include  includes/bonus-card/bonus-card

    section.wrapper.software-review
        .container-fluid.py-5
            .row
                .col-12.col-md-6.col-lg-8.special-headings
                    p.
                        No deposit bonuses are free bonuses that online casinos usually greet their new players with. However, it can also be a reward for the most loyal players.
                        Either way it is one of the most generous things a casino can give out to their players. As such, we want to provide our readers with the opportunity to try
                        out as many no deposit bonuses as possible. Bellow you can find the list of the latest no deposit bonus codes in the industry, but before you make your pick,
                        learn all about Choosing a no deposit bonus on.
                    h2 Types of No deposit bonuses
                    p.
                        Let us scour the T's and C's, the FAQs and al the other acronym based information with a magnifying glass (it's called small print
                        for a reason). You can sign up to a casino armed with the facts, bonus time frames, withdrawal limits and, of course, those sometimes sneaky
                        wagering requirements.

                .col-12.col-md-6.col-lg-4
                    .ruled-title.mt-0
                        span Other Bonuses
                    .related-category
                        a(href="")
                            h5 Match Deposit Bonus
                    .related-category
                        a(href="")
                            h5 High roller casino
                    .related-category
                        a(href="")
                            h5 Free Spins
                    .related-category
                        a(href="")
                            h5 No deposit bonus
                    .related-category
                        a(href="")
                            h5 Free games

                .col-12
                    h2.casino-c__orange--group No Deposit Bonuses
                    .d-flex.flex-column.flex-sm-row.justify-content-center.flex-wrap
                        +bonusCard('')
                        +bonusCard('')
                        +bonusCard('')
                        +bonusCard('')
                        +bonusCard('hide-bonuses')
                        +bonusCard('hide-bonuses')
                        +bonusCard('hide-bonuses')
                        +bonusCard('hide-bonuses')
                        a.viewMoreBonuses.hidden-sm-up show more





            .row
                .col-12.col-md-6.col-lg-8.special-headings
                    h2 Claiming No deposit bonus codes
                    p.
                        Let us scour the T's and C's, the FAQs and al the other acronym based information with a magnifying glass (it's called small print
                        for a reason). You can sign up to a casino armed with the facts, bonus time frames, withdrawal limits and, of course, those sometimes sneaky
                        wagering requirements.
                    h2 Wagering your no deposit bonus
                    p.
                        Let us scour the T's and C's, the FAQs and al the other acronym based information with a magnifying glass (it's called small print
                        for a reason). You can sign up to a casino armed with the facts, bonus time frames, withdrawal limits and, of course, those sometimes sneaky
                        wagering requirements.


                .col-12.col-md-6.col-lg-4.offer-group
                    h2.mt-0 Best Offer
                    .offer
                        img(src='./assets/images/card-images/simbaGames.png', data-src="http://placekitten.com/g/300/300")
                        button.btn.btn-secondary.casino-c__more(type='button') Read Review
                        button.btn.btn-secondary.casino-c__playNow(type='button') Play Now
                    p.
                        New customer only, Min Dep £10, Max Bonus £500 + 50 Spins on Starburts,
                        Slot only, 4 x conversion, 30 x Wagering + T&C's apply



append scripts
    script(src='assets/js/tether.min.js')
    script(src='assets/js/bootstrap.min.js')