extends includes/layout

mixin game()
    .col-12.col-sm-6.col-lg-3.py-4
        img.img-fluid.img-center(src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', data-src="assets/images/games-assets/game00.png")
        h2 Starburst
        p.
            Let us scour the T's and C's, the FAQs and al the other acronym based information with a magnifying glass (it's called small print
            for a reason). You can sign up to a casino armed with the facts, bonus time frames, withdrawal limits and, of course, those sometimes sneaky
            wagering requirements.
        a(href='') read more

block content

    include  includes/bonus-card/bonus-card


    section.software.wrapper
        .container-fluid.py-5

            .row
                .col-12.col-lg-6
                    p.lead "We're treating all our UK members to something rather special"
                    p.
                        Let us scour the T's and C's, the FAQs and al the other acronym based information with a magnifying glass (it's called small print
                        for a reason). You can sign up to a casino armed with the facts, bonus time frames, withdrawal limits and, of course, those sometimes sneaky
                        wagering requirements.
                    p.
                        Let us scour the T's and C's, the FAQs and al the other acronym based information with a magnifying glass (it's called small print
                        for a reason). You can sign up to a casino armed with the facts, bonus time frames, withdrawal limits and, of course, those sometimes sneaky
                        wagering requirements.

                .col-12.col-lg-6.casino-info
                    .ruled-title.mt-0
                        span Bonuses
                    .d-flex.flex-column.flex-sm-row.justify-content-around.flex-wrap
                        +bonusCard('')
                        +bonusCard('hide-bonuses')
                        +bonusCard('hide-bonuses')
                        a.viewMoreBonuses.hidden-sm-up show more

            .ruled-title
                span Games
            .row
                +game()
                +game()
                +game()
                +game()
                +game()
                +game()
                +game()
                +game()
                +game()


            nav(aria-label='Page navigation')
                ul.pagination.justify-content-end
                    li.page-item.disabled
                        a.page-link(href='#', tabindex='-1') &laquo; Previous
                    li.page-item.active
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') Next &raquo;



append scripts
    script(src='assets/js/tether.min.js')
    script(src='assets/js/bootstrap.min.js')
    //-script(src='assets/js/software.js')
