extends includes/layout

block content

    section.casino-pg
        .d-flex.flex-column.flex-md-row
            .casino-pg__width.casino-pg__title.d-flex.justify-content-center.flex-wrap
                .casino-pg__title--img.d-flex.justify-content-center
                    img.img-fluid(src="assets/images/card-images/10bet.png")
                .casino-pg__rating.d-flex.flex-row.align-items-center
                    .casino-pg__rating--dot
                    span Our ratings
                    span 80/90
            .casino-pg__width.casino-pg__offer
                h2 Offer
                .casino-pg__offer--box
                    h2 200% Bonus Up To £50 + 200 Free Spins
        .d-flex.flex-column.flex-md-row
            .casino-pg__width.casino-pg__details
                h2 Details
            .casino-pg__width.casino-pg__gallery
                h2 Gallery

