extends includes/layout

block content






    .container-fluid.slider-wrapper-bg.px-0
        .slider-wrapper
            .header-slider
                .first-image
                    a(href='')
                        img(src='http://placekitten.com/g/900/900')
                        h2 Billy The Kid: A Born Loser?
                        p.
                            World Casino Directory, one of the industries top sources for all matters land-based and online, has just become a part of the LCB family of websites.
                            Keep reading to find out more about this new addition.
                        .arrow
                            svg(viewBox="0 0 80 80")
                                use(xlink:href="#arrow" x="0" y="0")
                .second-image
                    a(href='')
                        h2.px-md-2 BtoBet CEO Key Speaker at Vienna International Gaming Expo 2017
                        p.
                            We are only showing bonuses that accept player from United Kingdom.
                            If you would like to view all Slots bonuses click here.
                        .arrow
                            svg(viewBox="0 0 80 80")
                                use(xlink:href="#arrow" x="0" y="0")
                br.hidden-sm-down
                .third-image
                    a(href='')
                        img(src='http://placekitten.com/g/900/900')
                        h2 Dafabet seeks to Improve Player Engagement with Comtrade.
                        p We are only showing bonuses that accept players from United Kingdom.
                        .arrow.arrow-top
                            svg(viewBox="0 0 80 80")
                                use(xlink:href="#arrow" x="0" y="0")
                .third-image
                    a(href='')
                        img(src='http://placekitten.com/g/900/900')
                        h2 Dafabet seeks to Improve Player Engagement with Comtrade.
                        p We are only showing bonuses that accept players from United Kingdom.
                        .arrow.arrow-top
                            svg(viewBox="0 0 80 80")
                                use(xlink:href="#arrow" x="0" y="0")
                .third-image.hidden-lg-up
                    a(href='')
                        img(src='http://placekitten.com/g/900/900')
                        h2 Dafabet seeks to Improve Player Engagement with Comtrade.
                        p We are only showing bonuses that accept players from United Kingdom.
                        .arrow.arrow-top
                            svg(viewBox="0 0 80 80")
                                use(xlink:href="#arrow" x="0" y="0")
    .container-fluid.wrapper
        .container-fluid.casino-cards.px-0
            .row
                .col-12.col-md-6.col-xl-4.top-rated-1
                    h2.casino-c__orange--group Top Rated Casino 1
                    +casino-c("rate-color1", "casino-c__orange", imgLogo01 , "Simba Games", offert01, "")
                    +casino-c("rate-color1", "casino-c__orange", imgLogo02 , "Rizk", offert02, "")
                    +casino-c("rate-color1", "casino-c__orange", imgLogo03 , "Grosvendor Casinos", offert03, "")
                    +casino-c("rate-color2", "casino-c__orange", imgLogo04 , "Dunder", offert04, "")
                    +casino-c("rate-color3", "casino-c__orange", imgLogo05 , "Casumo", offert05, "")
                    a.center-link(href='/indexamp.html')
                        span.casino-c__orange--group view all

                .col-12.col-md-6.col-xl-4
                    h2.casino-c__blue--group Recommended Casino
                    +casino-c("rate-color1", "casino-c__blue", imgLogo06 , "Video Slot", offert01, "")
                    +casino-c("rate-color1", "casino-c__blue", imgLogo07 , "PaddyPower Casino", offert02, "")
                    +casino-c("rate-color1", "casino-c__blue", imgLogo08 , "BetWay Casino", offert04, "")
                    +casino-c("rate-color2", "casino-c__blue", imgLogo09 , "BetFair Casino", offert04, "")
                    +casino-c("rate-color3", "casino-c__blue", imgLogo10 , "888 Casino", offert04, "")
                    a.center-link(href='')
                        span.casino-c__blue--group view all

                .col-12.col-md-6.col-xl-4
                    h2.casino-c__red--group Top Rated Casino 2
                    +casino-c("rate-color1", "casino-c__red", imgLogo06 , "Video Slot", offert01, "")
                    +casino-c("rate-color1", "casino-c__red", imgLogo07 , "PaddyPower Casino", offert02, "")
                    +casino-c("rate-color1", "casino-c__red", imgLogo08 , "BetWay Casino", offert03, "")
                    +casino-c("rate-color2", "casino-c__red", imgLogo09 , "BetFair Casino", offert04, "")
                    +casino-c("rate-color3", "casino-c__red", imgLogo10 , "888 Casino", offert05, "")
                    a.center-link(href='')
                        span.casino-c__red--group view all

                .col-12.col-md-6.col-xl-4.offer-group
                    h2 Best Offer
                    .offer
                        img(src='./assets/images/card-images/simbaGames.png', data-src="http://placekitten.com/g/300/300")
                        button.btn.btn-secondary.casino-c__more(type='button') Read Review
                        button.btn.btn-secondary.casino-c__playNow(type='button') Play Now
                    p.
                        New customer only, Min Dep £10, Max Bonus £500 + 50 Spins on Starburts,
                        Slot only, 4 x conversion, 30 x Wagering + T&C's apply

                .col-12.col-xl-8
                    h2.casino-c__red--group Top Rated Casino
                        a.float-right.hidden-xs-down(href='')
                            span.casino-c__red--group view all
                    +casino-c("rate-color1", "casino-c__red", imgLogo01 , "Simba Games", offert01, "casino-c--icons_visible")
                    +casino-c("rate-color2", "casino-c__red", imgLogo02 , "Rizk", offert03, "casino-c--icons_visible")
                    +casino-c("rate-color1", "casino-c__red", imgLogo03 , "Grosvendor Casinos", offert03, "casino-c--icons_visible")
                    +casino-c("rate-color2", "casino-c__red", imgLogo04 , "Dunder", offert04, "casino-c--icons_visible")
                    +casino-c("rate-color3", "casino-c__red", imgLogo05 , "Casumo", offert05, "casino-c--icons_visible")
                    a.center-link.hidden-sm-up(href='')
                        span.casino-c__red--group view all

        .container-fluid.about-us
            .ruled-title
                span About US
            .row
                .col-12.col-sm-6.col-lg-3
                    img(src='./assets/images/card-images/simbaGames.png', data-src="http://placekitten.com/g/150/150")
                    h2 Bonuses, Promotions and Free Spins
                    p.
                        Let us scour the T's and C's, the FAQs and al the other acronym based information with a magnifying glass (it's called small print
                        for a reason). You can sign up to a casino armed with the facts, bonus time frames, withdrawal limits and, of course, those sometimes sneaky
                        wagering requirements.
                    a(href='') Read more
                .col-12.col-sm-6.col-lg-3
                    img(src='./assets/images/card-images/simbaGames.png', data-src="http://placekitten.com/g/150/150")
                    h2 The Best Casino Site Reviews
                    p.
                        We will guide you through the casinos that you ought to know, emphasising quality, usability and passion. We'll point out the best and point out
                        the worst, each casino accompanied by a mathematically definitive rating out of 100. Your journey to find the best new casino sites begins here.
                    a(href='') Read more
                .col-12.col-sm-6.col-lg-3
                    img(src='./assets/images/card-images/simbaGames.png', data-src="http://placekitten.com/g/150/150")
                    h2 Software
                    p.
                        Let us scour the T's and C's, the FAQs and al the other acronym based information with a magnifying glass (it's called small print
                        for a reason). You can sign up to a casino armed with the facts, bonus time frames, withdrawal limits and, of course, those sometimes sneaky
                        wagering requirements.
                    a(href='') Read more
                .col-12.col-sm-6.col-lg-3
                    img(src='./assets/images/card-images/simbaGames.png', data-src="http://placekitten.com/g/150/150")
                    h2 Payment Options
                    p.
                        We will guide you through the casinos that you ought to know, emphasising quality, usability and passion. We'll point out the best and point out
                        the worst, each casino accompanied by a mathematically definitive rating out of 100. Your journey to find the best new casino sites begins here.
                    a(href='') Read more


        .container-fluid
            .row.container-colored
                .col-12.col-sm-6
                    h2 Games
                    p.
                        What makes a great slot experience? Immersive graphics? Awesome tunes? Glorious, scatter symbol induced free spin bonus jamboree rounds?
                        Blackjack and Roulette that don't look like they came free on a Windows 96 computer? Whatever you are looking for, we'll signpost the way to find them.
                    a(href='') Read more
                .col-12.col-sm-6
                    h2 Platforms
                    p.
                        Versatility. A casino must be optimised for every platform, again, to cater to the player's individual needs. In the mobile age, games should play EVEN
                        BETTER on smartphone and tablet devices. We now spend 65% of our digital media time on mobile devices. Mobile first? More money, less problems.
                    a(href='') Read more

        .container-fluid.about-us
            .row
                .col-12.col-sm-6.col-lg-4
                    h2 Licensing and Geographic Availability
                    p.
                        What makes a great slot experience? Immersive graphics? Awesome tunes? Glorious, scatter symbol induced free spin bonus jamboree rounds?
                        Blackjack and Roulette that don't look like they came free on a Windows 96 computer? Whatever you are looking for, we'll signpost the way to find them.
                    a(href='') Read more
                .col-12.col-sm-6.col-lg-4
                    h2 Customer Support
                    p.
                        Versatility. A casino must be optimised for every platform, again, to cater to the player's individual needs. In the mobile age, games should play EVEN
                        BETTER on smartphone and tablet devices. We now spend 65% of our digital media time on mobile devices. Mobile first? More money, less problems.
                    a(href='') Read more
                .col-12.col-sm-6.col-lg-4
                    h2 What does it all mean?
                    p.
                        What makes a great slot experience? Immersive graphics? Awesome tunes? Glorious, scatter symbol induced free spin bonus jamboree rounds?
                        Blackjack and Roulette that don't look like they came free on a Windows 96 computer? Whatever you are looking for, we'll signpost the way to find them.
                    a(href='') Read more


append scripts
    //script(src='assets/js/jquery.bxslider.min.js')
    //script(src='assets/js/bxSliderHome.js')

