extends includes/layout



block content

    include  includes/bonus-card/bonus-card


    section.wrapper.software-review
        .container-fluid.py-5
            .row
                .col-12.col-lg-6.game-details__headings
                    h2.single_review_heading Microgaming
                    p.
                        QueenVegas Casino is a sleek online casino that offers a wide range of games. They use Cryptologic (WagerLogic) and SkillOnNet software for their virtual casino games,
                        along with a full live dealer lounge. The casino is licensed by the jurisdiction of Malta, Denmark, Germany (Schleswig - Holstein) and United Kingdom. Due to legal issues,
                        Queen Vegas Casino does not accept players from the United States.

                    h2 QueenVegas Casino Bonuses
                    p.
                        QueenVegas Casino is a sleek online casino that offers a wide range of games. They use Cryptologic (WagerLogic) and SkillOnNet software for their virtual casino games,
                        along with a full live dealer lounge. The casino is licensed by the jurisdiction of Malta, Denmark, Germany (Schleswig - Holstein) and United Kingdom. Due to legal issues,
                        Queen Vegas Casino does not accept players from the United States.
                    p.
                        QueenVegas Casino is a sleek online casino that offers a wide range of games. They use Cryptologic (WagerLogic) and SkillOnNet software for their virtual casino games,
                        along with a full live dealer lounge. The casino is licensed by the jurisdiction of Malta, Denmark, Germany (Schleswig - Holstein) and United Kingdom. Due to legal issues,
                        Queen Vegas Casino does not accept players from the United States.

                    h2 QueenVegas Casino Bonuses
                    p.
                        QueenVegas Casino is a sleek online casino that offers a wide range of games. They use Cryptologic (WagerLogic) and SkillOnNet software for their virtual casino games,
                        along with a full live dealer lounge. The casino is licensed by the jurisdiction of Malta, Denmark, Germany (Schleswig - Holstein) and United Kingdom. Due to legal issues,
                        Queen Vegas Casino does not accept players from the United States.
                    p.
                        QueenVegas Casino is a sleek online casino that offers a wide range of games. They use Cryptologic (WagerLogic) and SkillOnNet software for their virtual casino games,
                        along with a full live dealer lounge. The casino is licensed by the jurisdiction of Malta, Denmark, Germany (Schleswig - Holstein) and United Kingdom. Due to legal issues,
                        Queen Vegas Casino does not accept players from the United States.

                .col-12.col-lg-6
                    .ruled-title.mt-0
                        span Software
                    .d-flex.flex-row.flex-wrap.casino-info__thumbnail.justify-content-center.casino-info
                        img.m-2(src="https://preview.insidecasino.com/wp-content/uploads/2017/06/microgaming.png")
                        img.m-2(src="https://preview.insidecasino.com/wp-content/uploads/2017/06/microgaming.png")
                        img.m-2(src="https://preview.insidecasino.com/wp-content/uploads/2017/06/microgaming.png")
                        img.m-2(src="https://preview.insidecasino.com/wp-content/uploads/2017/06/microgaming.png")
                        img.m-2(src="https://preview.insidecasino.com/wp-content/uploads/2017/06/microgaming.png")
                        img.m-2(src="https://preview.insidecasino.com/wp-content/uploads/2017/06/microgaming.png")
                        img.m-2(src="https://preview.insidecasino.com/wp-content/uploads/2017/06/microgaming.png")
                        img.m-2(src="https://preview.insidecasino.com/wp-content/uploads/2017/06/microgaming.png")
                        img.m-2(src="https://preview.insidecasino.com/wp-content/uploads/2017/06/microgaming.png")
                        img.m-2(src="https://preview.insidecasino.com/wp-content/uploads/2017/06/microgaming.png")
                        img.m-2(src="https://preview.insidecasino.com/wp-content/uploads/2017/06/microgaming.png")
                        img.m-2(src="https://preview.insidecasino.com/wp-content/uploads/2017/06/microgaming.png")

                    h2.casino-c__orange--group Top Rated Casino
                    +casino-c("rate-color1", "casino-c__orange", imgLogo01 , "Simba Games", offert01, "")
                    +casino-c("rate-color2", "casino-c__orange", imgLogo02 , "Rizk", offert03, "")
                    +casino-c("rate-color1", "casino-c__orange", imgLogo03 , "Grosvendor Casinos", offert03, "")
                    +casino-c("rate-color2", "casino-c__orange", imgLogo04 , "Dunder", offert04, "")
                    +casino-c("rate-color3", "casino-c__orange", imgLogo05 , "Casumo", offert05, "")



                .col-12.py-4
                    .ruled-title.mt-0
                        span Bonuses
                    .d-flex.flex-column.flex-sm-row.justify-content-center.flex-wrap.casino-info
                        +bonusCard('')
                        +bonusCard('hide-bonuses')
                        +bonusCard('hide-bonuses')
                        +bonusCard('hide-bonuses')
                        a.viewMoreBonuses.hidden-sm-up show more

                //-.col-12.col-lg-4.offer-group
                    h2 Best Offer
                    .offer
                        img(src='./assets/images/card-images/simbaGames.png', data-src="http://placekitten.com/g/300/300")
                        button.btn.btn-secondary.casino-c__more(type='button') Read Review
                        button.btn.btn-secondary.casino-c__playNow(type='button') Play Now
                    p.
                        New customer only, Min Dep £10, Max Bonus £500 + 50 Spins on Starburts,
                        Slot only, 4 x conversion, 30 x Wagering + T&C's apply

                //-.col-12.col-lg-8
                    h2.casino-c__orange--group Top Rated Casino
                        a.float-right.hidden-xs-down(href='')
                            span.casino-c__orange--group view all
                    +casino-c("rate-color1", "casino-c__orange", imgLogo01 , "Simba Games", offert01, "casino-c--icons_visible")
                    +casino-c("rate-color2", "casino-c__orange", imgLogo02 , "Rizk", offert03, "casino-c--icons_visible")
                    +casino-c("rate-color1", "casino-c__orange", imgLogo03 , "Grosvendor Casinos", offert03, "casino-c--icons_visible")
                    +casino-c("rate-color2", "casino-c__orange", imgLogo04 , "Dunder", offert04, "casino-c--icons_visible")
                    +casino-c("rate-color3", "casino-c__orange", imgLogo05 , "Casumo", offert05, "casino-c--icons_visible")
                    a.center-link.hidden-sm-up(href='')
                        span.casino-c__orange--group view all